<a href="https://colab.research.google.com/github/akash-assist/DWM-Labs/blob/main/DWM_Lab1_Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Write a program to missing value handling with replace by mean, median and frequent values to the given dataset file.?.

In [3]:
import pandas as pd
import numpy as np
from google.colab import files

df = pd.read_excel('/content/Dataset_Missing.xlsx')

print("Original Dataset")
print(df)

def handle_missing_values(df):
    df_mean = df.copy()
    df_median = df.copy()
    df_mode = df.copy()

    for column in df.columns:
      mean_value, median_value, mode_value = None, None, None

      mean_value = df[column].mean()
      df_mean[column].fillna(mean_value, inplace=True)

      median_value = df[column].median()
      df_median[column].fillna(median_value, inplace=True)

      mode_value = df[column].mode()[0]
      df_mode[column].fillna(mode_value, inplace=True)

    return df_mean, df_median, df_mode

df_mean, df_median, df_mode = handle_missing_values(df)

print("\nDataset after handling missing values by mean:")
print(df_mean)

print("\nDataset after handling missing values by median:")
print(df_median)

print("\nDataset after handling missing values by mode:")
print(df_mode)

Original Dataset
     D1    D2   D3     D4     D5
0   2.0   1.0  NaN   11.0    7.0
1   3.0   NaN  2.0   25.0   21.0
2   5.0   3.0  3.0   35.0    NaN
3   7.0   4.0  4.0    NaN   35.0
4   8.0   5.0  5.0   50.0    NaN
5   NaN   NaN  NaN    NaN   50.0
6   1.0   7.0  7.0   75.0    NaN
7   4.0   8.0  8.0  100.0    NaN
8   NaN   NaN  NaN    NaN   75.0
9  10.0  10.0  NaN  200.0  100.0

Dataset after handling missing values by mean:
     D1         D2        D3          D4     D5
0   2.0   1.000000  4.833333   11.000000    7.0
1   3.0   5.428571  2.000000   25.000000   21.0
2   5.0   3.000000  3.000000   35.000000   48.0
3   7.0   4.000000  4.000000   70.857143   35.0
4   8.0   5.000000  5.000000   50.000000   48.0
5   5.0   5.428571  4.833333   70.857143   50.0
6   1.0   7.000000  7.000000   75.000000   48.0
7   4.0   8.000000  8.000000  100.000000   48.0
8   5.0   5.428571  4.833333   70.857143   75.0
9  10.0  10.000000  4.833333  200.000000  100.0

Dataset after handling missing values by median:
     D1    D2   D3     D4     D5
0   2.0   1.0  4.5   11.0    7.0
1   3.0   5.0  2.0   25.0   21.0
2   5.0   3.0  3.0   35.0   42.5
3   7.0   4.0  4.0   50.0   35.0
4   8.0   5.0  5.0   50.0   42.5
5   4.5   5.0  4.5   50.0   50.0
6   1.0   7.0  7.0   75.0   42.5
7   4.0   8.0  8.0  100.0   42.5
8   4.5   5.0  4.5   50.0   75.0
9  10.0  10.0  4.5  200.0  100.0

Dataset after handling missing values by mode:
     D1    D2   D3     D4     D5
0   2.0   1.0  2.0   11.0    7.0
1   3.0   1.0  2.0   25.0   21.0
2   5.0   3.0  3.0   35.0    7.0
3   7.0   4.0  4.0   11.0   35.0
4   8.0   5.0  5.0   50.0    7.0
5   1.0   1.0  2.0   11.0   50.0
6   1.0   7.0  7.0   75.0    7.0
7   4.0   8.0  8.0  100.0    7.0
8   1.0   1.0  2.0   11.0   75.0
9  10.0  10.0  2.0  200.0  100.0

## For Handling Categorical Values

In [4]:
import pandas as pd
import numpy as np
from google.colab import files

df = pd.read_csv('/content/Bengaluru_House_Data.csv')

print("Original Dataset")
print(df)

def handle_missing_values(df):
    df_mean = df.copy()
    df_median = df.copy()
    df_mode = df.copy()

    for column in df.columns:
      mean_value, median_value, mode_value = None, None, None
      if df[column].dtype in ['int64', 'float64']:
        mean_value = df[column].mean()
        df_mean[column].fillna(mean_value, inplace=True)

        median_value = df[column].median()
        df_median[column].fillna(median_value, inplace=True)
      else:
        mean_value = df[column].mode()[0]
        df_mean[column].fillna(mean_value, inplace=True)

        median_value = df[column].mode()[0]
        df_median[column].fillna(median_value, inplace=True)

      mode_value = df[column].mode()[0]
      df_mode[column].fillna(mode_value, inplace=True)

    return df_mean, df_median, df_mode

df_mean, df_median, df_mode = handle_missing_values(df)

print("\nDataset after handling missing values by mean:")
print(df_mean)

print("\nDataset after handling missing values by median:")
print(df_median)

print("\nDataset after handling missing values by mode:")
print(df_mode)

Original Dataset
                  area_type   availability                  location  \
0      Super built-up  Area         19-Dec  Electronic City Phase II
1                Plot  Area  Ready To Move          Chikka Tirupathi
2            Built-up  Area  Ready To Move               Uttarahalli
3      Super built-up  Area  Ready To Move        Lingadheeranahalli
4      Super built-up  Area  Ready To Move                  Kothanur
...                     ...            ...                       ...
13315        Built-up  Area  Ready To Move                Whitefield
13316  Super built-up  Area  Ready To Move             Richards Town
13317        Built-up  Area  Ready To Move     Raja Rajeshwari Nagar
13318  Super built-up  Area         18-Jun           Padmanabhanagar
13319  Super built-up  Area  Ready To Move              Doddathoguru

            size  society total_sqft  bath  balcony   price
0          2 BHK  Coomee        1056   2.0      1.0   39.07
1      4 Bedroom  Theanmp       2600   5.0      3.0  120.00
2          3 BHK      NaN       1440   2.0      3.0   62.00
3          3 BHK  Soiewre       1521   3.0      1.0   95.00
4          2 BHK      NaN       1200   2.0      1.0   51.00
...          ...      ...        ...   ...      ...     ...
13315  5 Bedroom  ArsiaEx       3453   4.0      0.0  231.00
13316      4 BHK      NaN       3600   5.0      NaN  400.00
13317      2 BHK  Mahla T       1141   2.0      1.0   60.00
13318      4 BHK  SollyCl       4689   4.0      1.0  488.00
13319      1 BHK      NaN        550   1.0      1.0   17.00

[13320 rows x 9 columns]

Dataset after handling missing values by mean:
                  area_type   availability                  location  \
0      Super built-up  Area         19-Dec  Electronic City Phase II
1                Plot  Area  Ready To Move          Chikka Tirupathi
2            Built-up  Area  Ready To Move               Uttarahalli
3      Super built-up  Area  Ready To Move        Lingadheeranahalli
4      Super built-up  Area  Ready To Move                  Kothanur
...                     ...            ...                       ...
13315        Built-up  Area  Ready To Move                Whitefield
13316  Super built-up  Area  Ready To Move             Richards Town
13317        Built-up  Area  Ready To Move     Raja Rajeshwari Nagar
13318  Super built-up  Area         18-Jun           Padmanabhanagar
13319  Super built-up  Area  Ready To Move              Doddathoguru

            size  society total_sqft  bath   balcony   price
0          2 BHK  Coomee        1056   2.0  1.000000   39.07
1      4 Bedroom  Theanmp       2600   5.0  3.000000  120.00
2          3 BHK  GrrvaGr       1440   2.0  3.000000   62.00
3          3 BHK  Soiewre       1521   3.0  1.000000   95.00
4          2 BHK  GrrvaGr       1200   2.0  1.000000   51.00
...          ...      ...        ...   ...       ...     ...
13315  5 Bedroom  ArsiaEx       3453   4.0  0.000000  231.00
13316      4 BHK  GrrvaGr       3600   5.0  1.584376  400.00
13317      2 BHK  Mahla T       1141   2.0  1.000000   60.00
13318      4 BHK  SollyCl       4689   4.0  1.000000  488.00
13319      1 BHK  GrrvaGr        550   1.0  1.000000   17.00

[13320 rows x 9 columns]

Dataset after handling missing values by median:
                  area_type   availability                  location  \
0      Super built-up  Area         19-Dec  Electronic City Phase II
1                Plot  Area  Ready To Move          Chikka Tirupathi
2            Built-up  Area  Ready To Move               Uttarahalli
3      Super built-up  Area  Ready To Move        Lingadheeranahalli
4      Super built-up  Area  Ready To Move                  Kothanur
...                     ...            ...                       ...
13315        Built-up  Area  Ready To Move                Whitefield
13316  Super built-up  Area  Ready To Move             Richards Town
13317        Built-up  Area  Ready To Move     Raja Rajeshwari Nagar
13318  Super built-up  Area         18-Jun           Padmanabhanagar
13319  Super built-up  Area  Ready To Move              Doddathoguru

            size  society total_sqft  bath  balcony   price
0          2 BHK  Coomee        1056   2.0      1.0   39.07
1      4 Bedroom  Theanmp       2600   5.0      3.0  120.00
2          3 BHK  GrrvaGr       1440   2.0      3.0   62.00
3          3 BHK  Soiewre       1521   3.0      1.0   95.00
4          2 BHK  GrrvaGr       1200   2.0      1.0   51.00
...          ...      ...        ...   ...      ...     ...
13315  5 Bedroom  ArsiaEx       3453   4.0      0.0  231.00
13316      4 BHK  GrrvaGr       3600   5.0      2.0  400.00
13317      2 BHK  Mahla T       1141   2.0      1.0   60.00
13318      4 BHK  SollyCl       4689   4.0      1.0  488.00
13319      1 BHK  GrrvaGr        550   1.0      1.0   17.00

[13320 rows x 9 columns]

Dataset after handling missing values by mode:
                  area_type   availability                  location  \
0      Super built-up  Area         19-Dec  Electronic City Phase II
1                Plot  Area  Ready To Move          Chikka Tirupathi
2            Built-up  Area  Ready To Move               Uttarahalli
3      Super built-up  Area  Ready To Move        Lingadheeranahalli
4      Super built-up  Area  Ready To Move                  Kothanur
...                     ...            ...                       ...
13315        Built-up  Area  Ready To Move                Whitefield
13316  Super built-up  Area  Ready To Move             Richards Town
13317        Built-up  Area  Ready To Move     Raja Rajeshwari Nagar
13318  Super built-up  Area         18-Jun           Padmanabhanagar
13319  Super built-up  Area  Ready To Move              Doddathoguru

            size  society total_sqft  bath  balcony   price
0          2 BHK  Coomee        1056   2.0      1.0   39.07
1      4 Bedroom  Theanmp       2600   5.0      3.0  120.00
2          3 BHK  GrrvaGr       1440   2.0      3.0   62.00
3          3 BHK  Soiewre       1521   3.0      1.0   95.00
4          2 BHK  GrrvaGr       1200   2.0      1.0   51.00
...          ...      ...        ...   ...      ...     ...
13315  5 Bedroom  ArsiaEx       3453   4.0      0.0  231.00
13316      4 BHK  GrrvaGr       3600   5.0      2.0  400.00
13317      2 BHK  Mahla T       1141   2.0      1.0   60.00
13318      4 BHK  SollyCl       4689   4.0      1.0  488.00
13319      1 BHK  GrrvaGr        550   1.0      1.0   17.00

[13320 rows x 9 columns]